.profile-header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.stats {
  display: flex;
  padding: 0rem 1rem;

  .information {
    width: 60%;
  }

  .company-news {
    width: 40%;
  }

}


.stock-statistics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .stock-stats {
    padding: 1rem;
    width: 380px;

    h3 {
      border-bottom: 1px solid #ccc;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
  }
}

.Overview {
  padding: 1rem;
  border: 1px solid black;
  margin-top: 1rem;
  border-radius: 5px;

  .overview-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5rem;
  }

  h3 {
      font-weight: 600;
  }
}
