.profile-header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.stats {
  display: flex;
  padding: 0rem 1rem;

  .information {
    width: 60%;
  }

  .company-news {
    width: 40%;
  }

}


.stock-statistics {
  display: flex;
  flex-wrap: wrap;

  .stock-stats {
    padding: 1rem;
    width: 400px;

    h3 {
      border-bottom: 1px solid #ccc;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }

  }
}
