@import "reset";
@import "fonts";
@import "navbar";
@import "banner";
@import "story";
@import "peers";
@import 'earnings';

#root {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
}
