@import "reset";
@import "fonts";
@import "./components/navbar.scss";
@import "./components/banner.scss";
@import "./components/story.scss";
@import "./components/peers.scss";
@import './components/earnings.scss';
@import "./components/chart.scss";
@import "./pages/ViewPage.scss";

#root {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
}
