.chart-widget {
  position: relative;
  max-width: 50%;
}

.chart-buttons {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  button {
    background-color: transparent;
    color: black;

    &:active {
      background-color: indigo;
      color: white;
    }
  }
}
