.chart-widget {
  position: relative;
  padding: 1rem;
}

.chart-buttons {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;

  button {
    margin-left: 0.5rem;
    background-color: transparent;
    color: black;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: indigo;
      color: white;
    }
  }
}
