.earnings-widget {
  padding: 1rem;

  h3 {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }


  .earnings {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }


  .earning-header {
    border-bottom: 1px solid #ccc;
  }


  .earning {
    width: 20%;

  }
}
