.peers {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: auto;
  border: 1px solid #ccc;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .peer {
    min-width: 150px;
    padding: 0.5rem 1rem;
    position: relative;

    &:hover {
      cursor: pointer;
      border-radius: 5px;
      box-sizing: border-box;
      border-radius: 5px 5px 0px 0px;
      background-color: black;
      color: white;
    }

    .peer-info {
      position: absolute;
      background-color: black;
      padding: 0.5rem 1rem;
      border-radius: 0px 0px 5px 5px;
      top: 100%;
      left: 0%;
      z-index: 4;
    }

    .peer-header {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      .peer-symbol {
        margin-right: 1rem;
        font-weight: 600;
      }

      .peer-data {
        font-weight: 600;
      }
    }
  }
}
