.marketNews{
  padding: 1rem;
}

.story {
  display: flex;
  padding: 1rem;
  margin: 0.5rem 1rem;
  // align-items: ;
  // justify-content: space-between;

  img {
    height: 100%;
    width: 120px;
  }

  .story-content {
    margin-left: 1rem;
    text-align: justify;
  }
}


.sector {
  display: flex;
  justify-content: space-between;
}
