.App {
  /* text-align: center; */

}

body {
  padding: 1rem;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}


.searchWidget {
  background-color: antiquewhite;
  width: 50%;
}


.searchBar {
  text-align: right;
}

.searchResults {
  background-color: antiquewhite;
  width: 50%;
  position: absolute;
  right: 0;
  z-index: 1;
  padding: 0.1rem;
}

.searchResult {
  padding: 0.1rem 1rem;
}
