.App {
  /* text-align: center; */
}


h1 {
  font-size: 5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

div {
  border: 1px solid black;
}

.searchWidget {
  width: 50%;
}


.searchBar {
  text-align: right;
}

.searchResults {
  padding: 1rem;
}

.searchResult {
  padding: 0.25rem 1rem;
}
